body{

margin:0;

background:#08111d;

font-family:Arial;

color:white;

}

#menu{

width:350px;

margin:80px auto;

text-align:center;

}

button{

width:100%;

padding:18px;

margin:10px 0;

font-size:20px;

background:#1565ff;

color:white;

border:none;

border-radius:12px;

}

.hidden{

display:none;

}

header{

background:#111827;

padding:20px;

}

.panel{

padding:20px;

}

#log{

background:#101010;

height:300px;

overflow:auto;

padding:20px;

margin:20px;

border-radius:15px;

white-space:pre-line;

}